<h1>Horário Cancelado</h1>

<h3>Sinto lhe informar que a sua reserva na quadra {{reservationObject.courtName}} foi cancelado pelo propietário</h3>
<p><strong>Detalhes da reserva</strong></p>
<p>Quadra: {{reservationObject.courtName}}</p>
<p>Data: {{reservationObject.date}}</p>
<p>Horário: {{reservationObject.hour}}</p>